{:kmono/workspace {:group com.kepler16}

 :aliases {:build {:extra-deps {io.github.clojure/tools.build {:mvn/version "0.10.5"}
                                com.kepler16/kaven {:mvn/version "1.0.0-alpha.1"}

                                com.kepler16/kmono-version {:local/root "../../packages/kmono-version"}
                                com.kepler16/kmono-build {:local/root "../../packages/kmono-build"}
                                com.kepler16/kmono-core {:local/root "../../packages/kmono-core"}}
                   :ns-default build
                   :extra-paths ["build.clj"]}}}
